<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
   <!-- <link rel = "stylesheet" href = "{{ url_for('static', filename = 'main.css') }}" type = "text/css"/> -->

</head>
<body>
<div class="login-box auth0-box before">
    <img src="https://i.cloudup.com/StzWWrY34s.png" />
    <h3>Auth0 Example</h3>
    <p>Zero friction identity infrastructure, built for developers</p>
    <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
</div>
<!--
<form  method = "POST">
    User:<br>
    <input type = "text" name = "username">
    <br>
    Password:<br>
    <input type="password" name = "password">
    <br>
    <input type = "submit" value = "Send" name = "send">
</form>
{%  if error %}
<strong>Error: </strong> {{ error }}
{% endif %}
<form action = "/shared">
    <input type ="submit" value="Show shared files"/>
</form>
-->
</body>
</html>