<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<h1>File Uploader</h1>
<form id = "upload-form" action = "http://127.0.0.1:5002/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"  placeholder="file"/>
    <br>
    <input type = "hidden" name = "token" value ="{{ token }}" required/>
    <input type="submit" value="send"/>
</form>
<form action = "/list">
    <input type ="submit" value="View list"/>
</form>
<form action = "/logout">
        <input type ="submit" value="Logout"/>
</form>
{% if message %}
    Too many files! Please delete something
{% endif %}
</body>
</html>